body {
  font-family: "Jura", sans-serif;
}

nav {
  background-color: lightgrey;
  height: 100%;
  width: 240px;
  overflow: auto;
  position: fixed;
  left: 0px;
  top: 0px;
}

nav ul {
  list-style-type: none;
}

nav li {
  margin: 10px 0px 10px 0px;
}

nav a {
  display: block;
}

.hazardstripes {
  background: repeating-linear-gradient(45deg, black, black 15px, yellow 15px, yellow 30px);
}

.navedge {
  height: 100%;
  width: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
}

h1 {
  font-family: "Russo One", sans-serif;
  text-align: center;
}

main {
  margin-left: 260px;
  max-width: 800px;
}

table {
  border-collapse: collapse;
  margin: 5px;
}

div.equipmenttable {
  columns: 250px 3;
}

.equipmenttable>table {
  margin-top: 0px;
  width: 100%;
}

table.territorytable {
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

/* CSS for hiding and displaying content on front page. Can be read as:
 * "If aboutnecromunda is a sibling to a checked input radionecromunda, show it.
 * Otherwise, hide it."
 * Based on method described: Frederic Kizar, 2013, JSFiddle https://jsfiddle.net/khnNe/ */
input, #aboutnecromunda, #aboutsite, #aboutnew {
  display: none;
}

input#radionecromunda:checked ~ #aboutnecromunda {
  display: block;
}

input#radiosite:checked ~ #aboutsite {
  display: block;
}

input#radionew:checked ~ #aboutnew {
  display: block;
}
