h1, h2, h3, h4 {
  text-align: center;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.35;
  z-index: -2;
}

.column {
  max-width: 960px;
  margin: auto;
}

#topbar {
  background-color: black;
  color: lightgreen;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

header, nav {
  display: inline-block;
  margin: 0px 10%;
}

button, .clickable {
  cursor: pointer;
}

button {
  border-radius: 2px;
}

span.clickable {
  text-decoration: underline;
}

nav div {
  font-size: 1.2em;
  line-height: 1.5em;
  color: black;
  display: inline-block;
  padding: 10px;
  border: 3px solid black;
  background: white;
  width: 50%;
  height: 50%;
  
  position: fixed;
  top: 25%;
  left: 25%;
}

nav li li {
  list-style-type: square;
}

main {
  padding: 8em 0px;
}

.hidden {
  display: none;
}

main {
  max-width: 1200px;
  margin: auto;
}

.subjectbox {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 50%;
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableCell {
  display: table-cell;
  padding: 0px 10px;
}

input {
  width: 100px;
}

.invertColor {
  background: black;
  color: white;
}

.center {
  display: block;
  margin: auto;
}

#channel {
  border-bottom: 6px dashed black;
  
  width: 100%;
  margin: 50px 0px;
}

aside {
  color: black;
  display: inline-block;
  padding: 10px;
  border: 3px solid black;
  background: white;
  width: 76%;
  
  position: fixed;
  top: 5%;
  left: 12%;
}

.clockDemo {
  display: inline-block;
  padding: 0px 30px;
}

.clockFaceContainer {
  position: relative;
  width: 382px;
}

#clockHand1, #clockHand2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -17px;
  z-index: 10;
  transform-origin: 50% 90%;
  transition: 5s;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 90%;
  z-index: -1;
}