h1, h2, h3, h4 {
  font-family: "Verdana", sans-serif;
  text-align: center;
}

#indexbackground {
  opacity: 0.35;
  z-index: -2;
}

.popupbackground {
  background-color: rgba(128,128,128, 0.5);
  z-index: 9;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Used for elements with restricted width. */
.column {
  max-width: 960px;
  margin: auto;
}

/* Container for header and nav elements. */
#topbar {
  background-color: black;
  color: lightgreen;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

header, nav {
  display: inline-block;
  margin: 0px 10%;
}

/* Helps to identify active elements by using same cursor as links. */
button, .clickable {
  cursor: pointer;
}

span.clickable {
  text-decoration: underline;
}

button {
  border-radius: 2px;
}

/* Navigation pop-up. */
nav div {
  font-size: 1.2em;
  line-height: 1.5em;
  color: black;
  display: inline-block;
  padding: 10px;
  border: 3px solid black;
  background: white;
  width: 50%;
  height: 50%;
  
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 10;
}

nav li li {
  list-style-type: square;
}

main {
  padding: 8em 0px;
}

.hidden {
  display: none;
}

main {
  max-width: 1200px;
  margin: auto;
}

/* Used on homepage for link boxes. */
.subjectbox {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 50%;
}

/* Used for CSS-based tables as described at https://divtable.com/ */
.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableCell {
  display: table-cell;
  padding: 0px 10px;
}

input {
  width: 100px;
}

/* Centers the element.*/
.center {
  display: block;
  margin: auto;
}

/* Depicts hidden zones in Diffie-Hellman demo. */
.invertColor {
  background: black;
  color: white;
}

/* Cosmetic element adds dashed line to Diffie-Hellman demo. */
#channel {
  border-bottom: 6px dashed black;
  
  width: 100%;
  margin: 50px 0px;
}

/* Finite Field pop-up. */
aside {
  color: black;
  display: inline-block;
  padding: 10px;
  border: 3px solid black;
  background: white;
  width: 76%;
  
  position: fixed;
  top: 5%;
  left: 12%;
  z-index: 10;
}

.clockDemo {
  display: inline-block;
  padding: 0px 30px;
}

.clockFaceContainer {
  position: relative;
  width: 382px;
}

#clockHand1, #clockHand2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -17px;
  z-index: 10;
  transform-origin: 50% 90%;
  transition: 5s;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 90%;
  z-index: -1;
}