main {
  max-width: 1200px;
  margin: auto;
}

.button {
  cursor: pointer;
}

.bgTest {
  display: inline-block;
  height: 400px;
  width: 400px;
}

.blueBase {
  background-color: blue;
}

.redBase {
  background-color: red;
}

.pitchBackground {
  background-image: linear-gradient(#9cbbcf, #a8b1c8 20%, #879188 20%, rgba(135, 145, 135, 60%) 60%, rgba(135, 145, 135, 45%) 60%, rgba(135, 145, 135, 45%) 70%, #7c825e 70%, #4e4d1f 100%);
}

#colourPicker {
  height: 30px;
  width: 60px;
  text-align: center;
}

.missNextGame,
.rosterFull {
  color: darkgray;
}

.error {
  color: red;
}

.tooltipParent {
  position: relative;
}

.hidden {
  display: none;
}

.popup {
  background: white;
  border: solid 2px black;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tooltip {
  color: black;
  font: 14px serif;
  text-shadow: none;
  background-color: white;
  padding: 2px;
  display: none;
  position: absolute;
  top: 100%;
  left: 20%;
}

.tooltipParent:hover>.tooltip {
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.pitchSection, touchdownRow {
  display: inline-block;
  border: solid 1px white;
}

#pitchLeft, #pitchRight {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#pitchCentre {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

#reserves {
  background: lightgray;
  min-height: 70px;
}

.pitchSquare {
  background: olivedrab;
  border: dashed 1px white;
  height: 50px;
  width: 50px;
}

.jerseyNumber {
  cursor: grab;
  float: left;
  color: white;
  font: 30px "Trebuchet MS", sans-serif;
  padding: 7px 0px;
  text-align: center;
  text-shadow: 1px 1px black, -1px -1px black;
  vertical-align: central;
  width: 50px;
}

#touchdownZone {
  background: oliveDrab;
  border: solid 1px white;
  height: 50px;
  width: 784px;
}
