@media print {
  header, nav, footer {
    display: none;
  }
  
  body {
    background: none;
    max-width: none;
    padding-left: 0px;
    font-size: 12pt;
    line-height: 1.3;
  }
  
  a:link, a:visited, label {
    color: black;
    text-shadow: none;
    text-decoration: underline;
  }
  
  img {
    max-width: 100%;
  }
  
  #aboutnecromunda,
  #aboutsite,
  #aboutnew {
    display: block;
  }
}
