/* Colour Scheme:
 * #F0F8FF aliceblue - a very pale blue/grey, like silver metal. Used for text.
 * #292d33 - a dark blue/grey, like forged metal. Used for navbar background.
 * #FF4500 orangered - a dull red. Used for "cool" links.
 * #FFD700 gold - a slightly orange yellow. Used for "hot" links.
 * #FFFFFF black - used for background and hazard stripes.
 * #FFFF00 yellow - used for hazard stripes.
 */

body {
  background-color: black;
  color: aliceblue;
  font-family: "Jura", sans-serif;
  max-width: 800px;
  padding-left: 280px;
}

/* Background first implemented using greyscale image with colour added with
 * multiply blend mode.
 * background-blend-mode doesn't work on IE/Edge, so replaced with colour image
 * with colour gradient "baked in".
 **/
body.hiveprimus {
  /*background: linear-gradient(#5B554F, #5B554F), url("../img/hiveprimus.jpg");
  background-blend-mode: multiply;*/
  background: url("../img/hiveprimus.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  background: url("../img/spideraquila.png"), repeating-linear-gradient(-30deg, darkgrey, lightgrey 30%, darkgrey 60%);
  background-position: center;
  background-repeat: no-repeat;
  border: aliceblue 4px ridge;
  border-radius: 10px;
  margin: auto;
  padding: 25px 30px;
  max-width: 560px;
}

.logosmall {
  background: lightgrey;
  border: aliceblue 1px outset;
  border-radius: 5px;
  font-size: 0.3em;
  margin: auto;
  max-width: 200px;
}

.hiveprimus .logosmall {
  visibility: hidden;
}

h1 {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 4em;
  margin: 2px;
  text-align: center;
  color: red;
  text-shadow: 5px -2px 20px red;
  transform: rotate(4deg);
}

h2 {
  text-shadow: -1px -1px grey;
}

h3 {
  margin: 30px 0px 10px 0px;
}

h4 {
  margin: 5px 0px;
}

a:link, a:visited, label {
  color: gold;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0px 0px 10px orangered;
}

a:hover, label:hover {
  color: orangered;
  text-shadow: none;
}

a.currentpage {
  color: aliceblue;
  text-shadow: 0px 0px 10px gold, 0px 0px 20px orangered;
}

.flavourtext {
  font-style: italic;
  margin-top: 0px;
}

nav {
  background-color: #292d33;
  height: 100%;
  width: 260px;
  overflow: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  padding-top: 10px;
  box-shadow: 0px 0px 20px black;
}

ul {
  list-style-type: none;
  padding-left: 30px;
}

nav li {
  margin: 10px 0px;
}

nav li li {
  margin: 0px;
}

nav a {
  display: block;
}

/* Hazard stripes on navbar uses CSS gradient with steep edges.*/
.hazardstripes {
  background: repeating-linear-gradient(45deg, black, black 15px, yellow 15px, yellow 30px);
}

.navedge {
  height: 100%;
  width: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-right: 1px solid darkgrey;
}

main {
  min-height: 450px;
}

img {
  max-width: 100%;
}

.floatleft {
  float: left;
  margin-right: 10px;
}

.floatright {
  float: right;
  margin-left: 10px;
}

/* Clearfix hack from W3Schools, clears float properties.
 * https://www.w3schools.com/css/css_float.asp
 */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  margin: 5px;
}

th, td {
  border: 1px solid aliceblue;
  padding: 5px;
  text-align: center;
}

div.equipmenttable {
  columns: 250px 3;
}

.equipmenttable>table {
  margin-top: 0px;
  width: 100%;
}

.territorytable {
  width: 100%;
}

.territorytable th:not(:first-child) {
  min-width: 16%;
}

.territorytable td {
  vertical-align: top;
}

summary h4 {
  display: inline-block;
}

.territorytable ul {
  /*margin-top: 0px;*/
  margin: 0px 0px 7px 0px;
  padding: 0px;
}

/* Adds "..." when a details element is closed to indicate more text.*/
details:not([open=""]) summary::after {
  content: "...";
}

/* Font size of 14px instead of 16px - still large enough to be easily
 * legible, but makes tables less massive.*/
.territorytable details, .territorytable p {
  font-size: 14px;
  margin: 0px;
}

.statstable th {
  min-width: 6%;
}

footer {
  margin-top: 50px;
  padding: 20px 0px;
}

hr {
  color: aliceblue;
}

#breadcrumb {
  font-weight: bold;
}

/* Tooltips implemented using method taught in Web Programming for drop-down
 * menus.
 */
.tooltip {
  display: inline-block;
  position: relative;
  text-decoration: underline dotted gold;
}

/* position:relative allows the parent <div> element to be used as a reference
 * point for the child <ul> element, if in-page navigation is implemented as a
 * drop-down menu.
 */
.dropdown {
  position: relative;
}

/*.dropdown ul,*/
.tooltiptext {
  display: none;
}

/*.dropdown:hover ul,*/
.dropdown:hover .tooltiptext,
.tooltip:hover .tooltiptext,
.workedvalue:hover::after,
.lootedvalue:hover::after,
.findersfee:hover::after {
  display: block;
  min-width: 100px;
  border: 1px outset grey;
  background-color: #292d33;
  padding: 2px;
  position: absolute;
  left: 10px;
  top: 100%;
  z-index: 10;
}

/* Divtables used for responsive tables.
 * Child element of divtable automatically made table-row.
 * Grandchild element of divtable automatically made table-cell.
 */
.divtable {
  display: table;
  border-spacing: 10px;
  width: 100%;
}

.divtable>div {
  display: table-row;
}

.divtable>div>* {
  display: table-cell;
}

.divtable>div>h3,
.divtable>div>h4 {
  width: 120pt;
}

.workedvalue, .lootedvalue {
  width: 50%;
}

/* Automated addition of tooltips for worked values and looted values in
 * territory tables.
 */
.workedvalue::after {
  content: "Worked value";
  display: none;
}

.lootedvalue::after {
  content: "Looted value";
  display: none;
}

.findersfee::after {
  content: "Finder's fee";
  display: none;
}

/* CSS for hiding and displaying content on front page. Can be read as:
 * "If aboutnecromunda is a sibling to a checked input radionecromunda, show it.
 * Otherwise, hide it."
 * Based on method described here:
 * Frederic Kizar, 2013, JSFiddle, https://jsfiddle.net/khnNe/
 */
input, #aboutnecromunda, #aboutsite, #aboutnew {
  display: none;
}

input#radionecromunda:checked ~ #aboutnecromunda,
input#radiosite:checked ~ #aboutsite,
input#radionew:checked ~ #aboutnew {
  display: block;
}
